<section class="c">

	{{#if errors}}
		<ul class="error">
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
		</ul>
	{{/if}}

	<h2>Create new Countdown</h2>

	<form id="cf" method="post" action="/create">

		<div>
			<label class="bg">
				Title
				<input type="text" placeholder="Title" name="title" value="{{body.title}}">
			</label>

			<label class="bg">
				Description
				<textarea placeholder="Description" name="description">{{body.description}}</textarea>
			</label>

			<label class="bg">
				Associated Twitter Hashtags
				<input type="text" placeholder="#hash #tag" name="twitterHashtags" value="{{body.twitterHashtags}}">
			</label>

			<input id="abs" type="radio" name="cdType" value="abs" {{#if cdIsAbs}}checked{{/if}}>
			<label for="abs" class="tab">
				Target date
			</label>
			<input id="rel" type="radio" name="cdType" value="rel" {{#unless cdIsAbs}}checked{{/unless}}>
			<label for="rel" class="tab">
				Relative time from now
			</label>

			<div id="abs_inp" class="bg">
				<h3>Target date</h3>
				<label>
					Date (YYYY-MM-DD):
					<input type="text" name="abs_date" placeholder="YYYY-MM-DD" value="{{body.abs_date}}">
				</label>
				<label>
					Time (HH:MM:SS):
					<input type="text" name="abs_time" placeholder="HH:MM:SS" value="{{body.abs_time}}">
				</label>
				<label>
					Target UTC/GMT timezone:
					<input type="number" min="-12" max="14" name="abs_offset" placeholder="0" value="{{#if body}}{{body.abs_offset}}{{else}}0{{/if}}">
				</label>
			</div>

			<div id="rel_inp" class="bg">
				<h3>Relative time</h3>
				<label>
					Days
					<input type="number" min="0" name="days" placeholder="days" value="{{#if body}}{{body.days}}{{/if}}">
				</label>
				<label>
					Hours
					<input type="number" min="0" name="hours" placeholder="hours" value="{{#if body}}{{body.hours}}{{/if}}">
				</label>
				<label>
					Minutes
					<input type="number" min="0" name="minutes" placeholder="minutes" value="{{#if body}}{{body.minutes}}{{/if}}">
				</label>
				<label>
					Seconds
					<input type="number" min="0" name="seconds" placeholder="seconds" value="{{#if body}}{{body.seconds}}{{/if}}">
				</label>
			</div>

			<label class="bg">
				Delete Passphrase - this should not be one of your passwords (needed to delete the countdown)
				<input type="text" placeholder="Your passphrase" name="delpass">
			</label>
		</div>

		<button type="submit">Create</button>
		<a href="/">Cancel and go back</a>

	</form>
</section>
