<nav class="nav">
	<div class="c">
		<ul>
			<li><a href="/create">Create new Countdown</a></li>
			<li><a href="/">Back to Overview</a></li>
		</ul>
	<div>
</nav>
<article id="countdown" class="c">
	<h2>{{cTitle}}</h2>
	{{#if percentageVisible}}
	<div class="bar">
		<span class="lable">{{cPercentage}}% completed</span>
	  <span class="fill" style="transform: translateX({{cPercentageBarValue}}%); animation: progress 60s linear 1 forwards;"></span>
	</div>
	{{/if}}
	<p>x days, y hours, z minutes and z seconds left</p>
	<p>Ending at {{cEndDate}}</p>
	<p>{{cDescription}}</p>
</article>
{{#if tweetsVisible}}
<section id="tweets" class="dark">
	<h2>{{cHashtags}}</h2>
	<ul class="col3 c t">
		{{#each tweets}}
		<li>
			<article class="card">
				<h3>{{user.name}} (@{{user.screen_name}})</h3>
				<time>{{created_at}}</time>
				<p>{{text}}</p>
			</article>
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}
