<nav class="nav">
	<div class="c">
		<ul>
			<li><a href="/create">Create new Countdown</a></li>
			<li><a href="/">Back to Overview</a></li>
		</ul>
	<div>
</nav>
<article id="countdown" class="c">
	<h2>{{cTitle}}</h2>
	<div class="bar">
		{{#if cPercentage}}
		<span class="lable">{{cPercentage}}% completed</span>
	  <span class="fill" style="transform: translateX({{cPercentageBarValue}}%); animation: progress 60s linear 1 forwards;"></span>
		{{/if}}
	</div>
	<p>x days, y hours, z minutes and z seconds left</p>
	<p>Ending at {{cEndDate}}</p>
	<p>{{cDescription}}</p>
</article>
<section id="tweets" class="dark">
	<h2>{{cHashtags}}</h2>
	<ul class="c col3">
		<li>
			<article class="card">
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
		<li>
			<article class="card">
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
		<li>
			<article class="card">
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
	</ul>
</section>
