{{> top-nav-bar}}
{{> top-logo-bar}}

<article id="countdown" class="c">
	<h2 id="titel">{{cTitle}}</h2>
	<p id="desc">{{cDescription}}</p>
	<div class="card body">
		<p class="cd big">{{cCountdownDate}} <span id="cd-server">{{cCountdownTime}}</span></p>
		<p class="cd {{#unless cCountdownDate}}big{{/unless}}"><span id="cd-h"></span> <span id="cd-m"></span> <span id="cd-s"></span></p>
		{{#if isRelativeCountdown}}
		<div class="bar">
			<span class="label">{{cPercentage}}%</span>
		  <span class="fill" style="transform: translateX({{cPercentageBarValue}}%); animation: progress {{animationSeconds}}s linear 1 forwards;"></span>
		</div>
		{{/if}}
		<p id="end">
			End date: <span>{{cEndDate}}</span>
		</p>
	</div>
</article>
{{#if tweetsVisible}}

<section id="tweets" class="dark">
	<h2>{{cHashtags}}</h2>
	<ul class="col3 c t">
		{{#each tweets}}
		<li>
			<article class="card">
				<div class="head">
					<h3>{{user.name}} (@{{user.screen_name}})</h3>
					<time>{{created_at_relative}}</time>
				</div>
				<p class="body">{{text}}</p>
			</article>
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}

<script>
	SOON = {
		{{#if jsCEndTime}}
		countdownEndTime: {{jsCEndTime}}
		{{/if}}
	};
</script>
<script src="/js/detail.js" charset="utf-8"></script>
