{{> top-nav-bar}}
{{> top-logo-bar}}

<article id="countdown" class="c">
	<h2>{{cTitle}}</h2>
	<p>ending at {{cEndDate}}</p>
	{{#if percentageVisible}}
	<div class="bar">
		<span class="label">{{cCountdownDate}} <span id="cd-server">{{cCountdownTime}}</span><span id="cd-h"></span> <span id="cd-m"></span> <span id="cd-s"></span></span>
	  <span class="fill" style="transform: translateX({{cPercentageBarValue}}%); animation: progress {{animationSeconds}}s linear 1 forwards;"></span>
	</div>
	{{/if}}
	{{#isRelativeCountdown}}
	<p>{{cPercentage}}% completed</p>
	{{/isRelativeCountdown}}
	<p>{{cDescription}}</p>
</article>
{{#if tweetsVisible}}
<section id="tweets" class="dark">
	<h2>{{cHashtags}}</h2>
	<ul class="col3 c t">
		{{#each tweets}}
		<li>
			<article class="card">
				<h3>{{user.name}} (@{{user.screen_name}})</h3>
				<time>{{created_at_relative}}</time>
				<p>{{text}}</p>
			</article>
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}

<script>
	SOON = {
		{{#if jsCEndTime}}
		countdownEndTime: {{jsCEndTime}}
		{{/if}}
	};
</script>
<script src="/js/detail.js" charset="utf-8"></script>
