<nav id="cta" class="c">
	<img src="/assets/soon-10k-logo.svg" alt="Soon logo" />
	<h2>
  	A simple, social and blazingly fast countdown plattform!
	</h2>
	<ul>
		<li><a href="/create" class="butt">Create a Countdown</a></li>
		<li><input type="text" placeholder="Countdown ID"/> <button>Go to</button>
	</ul>
</nav>
<div class="ex dark">
	<section class="c">
		<aside class="card">
			<h2>Featured Countdowns</h2>
			<ul>
				{{#each featured}}
					<li>
						<a href="/c/{{uuid}}">
							<h3>{{title}} ({{timeFromNow endTimestamp}})</h3>
							<div class="bar small">
								<span class="fill" style="transform: translateX({{barAnimationPercentage startTimestamp endTimestamp}}%); animation: progress {{barAnimationSeconds endTimestamp}}s linear 1 forwards;"></span>
							</div>
						</a>
					</li>
				{{/each}}
			</ul>
		</aside>
	</section>
	<section class="col3 c">
		<aside class="card">
			<h2>Ending Soon</h2>
			<ul>
				{{#each ending}}
					<li><a href="/c/{{uuid}}">{{title}} ({{timeFromNow endTimestamp}})</a></li>
				{{/each}}
			</ul>
		</aside>
		<aside class="card">
			<h2>Recently Added</h2>
			<ul>
				{{#each recent}}
					<li><a href="/c/{{uuid}}">{{title}} ({{timeFromNow endTimestamp}})</a></li>
				{{/each}}
			</ul>
		</aside>
	</section>
</div>
